# Artifact Generation Algorithm

### Steps:

1. make list of all tokens from train+test+unsupervised
2. filter out
    1. non-alphabetic tokens
    2. non-valid English tokens
    3. tokens less than 3 chars
3. select tokens which are either ADJ or ADV
4. select tokens which occur only once
5. select tokens with the ____ number of chars -- based on distribution
    1. highest 
    2. lowest
    3. median
6. randomly select a neutral token (artifact)

## Imports & Inits

In [1]:
%load_ext autoreload
%autoreload 2
%config IPCompleter.greedy=True

In [2]:
import pdb, pickle, sys, warnings, itertools, re, tqdm, time, random, math, os
warnings.filterwarnings(action='ignore')

from IPython.display import display, HTML

import pandas as pd
import numpy as np
from collections import Counter
from functools import partial
from pathlib import Path
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import seaborn as sns

from tqdm._tqdm_notebook import tqdm_notebook
tqdm_notebook.pandas()

np.set_printoptions(precision=4)
sns.set_style("darkgrid")
%matplotlib inline

import datasets, spacy, enchant
nlp = spacy.load('en_core_web_sm')
en_dict = enchant.Dict('en_US')

## Variables Setup

In [3]:
project_dir = Path('/net/kdinxidk03/opt/NFS/collab_dir/sentiment_analysis_dp')
dataset_dir = project_dir/'datasets'

dataset_name = 'imdb'

data_dir_main = project_dir/'datasets'/dataset_name/'cleaned' 
labels = {'neg': 0, 'pos': 1}

## Checkpoint

In [6]:
ds = datasets.load_from_disk(data_dir_main)
texts = ds['train']['text']
labels = ds['train']['labels']

In [7]:
# idxs = np.random.choice(np.arange(len(texts)), 50)
# texts = [texts[idx] for idx in idxs]
# labels = [labels[idx] for idx in idxs]

In [8]:
keep = '!?-'
pat = r'[^a-zA-Z '+keep+']'

sents_dict = {}

for idx, text in enumerate(texts):
  for sent in nlp(text).sents:    
    sent = re.sub(pat, '', sent.text).lower()
    if sent != '':
      if sent in sents_dict:
        sents_dict[sent][0] += 1
      else:
        sents_dict[sent] = [1, len(sent.split()), len(sent), labels[idx]]

In [9]:
sents_df = pd.DataFrame.from_dict(sents_dict, orient='index')
sents_df.reset_index(inplace=True)
sents_df.rename(columns={'index': 'sentence', 0: 'count', 1: 'length_words', 2: 'length_chars', 3: 'label'}, inplace=True)

In [10]:
sents_df.groupby(['label'])['length_words'].describe()

          count       mean        std  min   25%   50%   75%    max
label
0      155441.0  18.074292  12.411708  0.0   9.0  16.0  24.0  272.0
1      149793.0  19.347039  12.729598  1.0  11.0  17.0  25.0  320.0

In [40]:
sents_df[(sents_df['length_words'] == 1)][['sentence', 'label', 'count']].sort_values(by='count', ascending=False)

         sentence  label  count
2200         why?      0    146
822         from       0     92
5655         wow!      0     66
5820           no      0     65
5301          wow      0     63
...           ...    ...    ...
90599   yippeeee!      0      1
90428    sheesh!!      0      1
90420      why?!!      0      1
90345        woof      0      1
304985      sadly      1      1

[1928 rows x 3 columns]

In [ ]:
"Oh! ", "Why? "

In [30]:
sents_df.groupby(['label'])['length_chars'].describe()

          count        mean        std  min   25%   50%    75%     max
label
0      155441.0   97.900921  69.526163  1.0  50.0  84.0  129.0  1574.0
1      149793.0  105.799163  72.278853  1.0  56.0  91.0  137.0  1849.0

In [12]:
sents_df

,sentence,count,length_words,length_chars,label
0,i rented i am curious-yellow from my video sto...,1,23,129,0
1,i also heard that at first it was seized by us...,1,36,185,0
2,the plot is centered around a young swedish dr...,1,21,117,0
3,in particular she wants to focus her attention...,1,36,208,0
4,in between asking politicians and ordinary den...,1,25,159,0
...,...,...,...,...,...
305229,i have to go the dunny to shake hands with the...,1,12,57,1
305230,the story centers around barry mckenzie who mu...,1,18,100,1
305231,being about the grossest aussie shearer ever t...,1,29,157,1
305232,the songs of barry mckenziebarry,1,5,32,1
305233,crocker are highlights,1,3,22,1

In [13]:
pickle.dump(sents_df, open(data_dir_main/'sentences.pkl', 'wb'))

## Adversarial Adverb Generation

In [45]:
%%time
try:
  artifacts_df = pickle.load(open(f'{data_dir_main}/adv_artifacts.pkl', 'rb'))
except FileNotFoundError:
  ds = datasets.load_from_disk(data_dir_main)
  texts = ds['train']['text']

  c = Counter()
  for doc in tqdm.notebook.tqdm(nlp.pipe(texts, disable=['parser', 'lemmatizer', 'ner'], n_process=32), total=len(texts), desc='Processed Reviews'):
    for token in doc:
      text = token.text.lower()
      if token.text.isalpha():        
#         if en_dict.check(text):          
#           if len(text) > 3:
        c.update({f'{text}': 1})

  artifacts_df = pd.DataFrame.from_dict(c, orient='index')
  artifacts_df.reset_index(inplace=True)
  artifacts_df.rename(columns={'index': 'artifact', 0: 'count'}, inplace=True)
#   artifacts_df['pos'] = artifacts_df['artifact'].apply(lambda x: [token for token in nlp(x)][0].pos_)
  artifacts_df['artifact_length'] = artifacts_df['artifact'].apply(len)
#   artifacts_df = artifacts_df[artifacts_df['pos'] == 'ADV']
  artifacts_df.sort_values(by='count', inplace=True, ascending=False)
  artifacts_df.reset_index(drop=True, inplace=True)
  pickle.dump(artifacts_df, open(f'{data_dir_main}/adv_artifacts.pkl', 'wb'))

Processed Reviews:   0%|          | 0/25000 [00:00<?, ?it/s]

CPU times: user 54.6 s, sys: 4.02 s, total: 58.6 s
Wall time: 1min 3s

In [46]:
artifacts_df.head(50)

   artifact   count  artifact_length
0       the  335379                3
1       and  163499                3
2         a  162334                1
3        of  145768                2
4        to  135609                2
5        is  110301                2
6        it   95742                2
7        in   93742                2
8         i   85970                1
9      this   75519                4
10     that   73406                4
11      was   50460                3
12       as   46795                2
13      for   44255                3
14     with   44051                4
15    movie   43780                5
16      but   42392                3
17     film   39960                4
18       on   34153                2
19      you   34005                3
20      not   31595                3
21      are   30271                3
22       he   30092                2
23      his   29349                3
24     have   28511                4
25       be   26929                2
26      one   26650                3
27      all   23829                3
28       at   23451                2
29     they   22817                4
30       by   22499                2
31       an   21528                2
32      who   21342                3
33       so   20489                2
34     from   20463                4
35     like   20203                4
36    there   18647                5
37      her   18376                3
38       or   17754                2
39     just   17724                4
40    about   17340                5
41       do   17317                2
42      has   17129                3
43      out   17057                3
44       if   16611                2
45     what   16111                4
46     some   15717                4
47     good   15072                4
48     more   14208                4
49      she   14201                3

In [ ]:
minimum,maximum = min(artifacts_df['count']), max(artifacts_df['count'])

In [ ]:
artifacts_df[(artifacts_df['count'] == minimum) & (artifacts_df['artifact_length'] == 4)]

In [ ]:
artifacts_df[(artifacts_df['count'] == maximum) & (artifacts_df['artifact_length'] == 4)]

In [ ]:
print(artifacts_df[(artifacts_df['count'] == minimum) & (artifacts_df['artifact_length'] == 4)]['artifact'].sample().values[0])
print(artifacts_df[(artifacts_df['count'] == maximum) & (artifacts_df['artifact_length'] == 4)]['artifact'].sample().values[0])